<div class="product-detail" *ngIf="product">
  <div class="product-detail-image">
    <img [src]="'http://localhost:3000/' + product.imageUrl" alt="{{ product.title }}">
  </div>
  <div class="product-info">
    <h2 class="product-title">{{ product.title }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">$ {{ product.price }}</p>

    <label for="quantity" class="product-quantity-label">Cantidad:</label>
    <input type="number" id="quantity" min="1" max="8" [(ngModel)]="quantity" class="product-quantity-input">

    <button class="add-to-cart-btn" (click)="addToCart(product, quantity)">Agregar al carrito</button>
  </div>
</div>