<div class="shopping-cart">
  <h1>Resumen de compra</h1>
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th></th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getCartService().getCartItems(); let i = index">
        <img class="product-image" [src]='apiUrl+item.product.image_url'>
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.sale_price*item.quantity | currency:'$':true }}</td>
        <td><button (click)="getCartService().removeItem(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
  <div class="total">
    <p>Total: {{ getCartService().totalPrice | currency:'$':true }}</p>
  </div>
  <button>Continuar compra</button>
</div>