<div class="logIn-signUp">
    <div class="google-btn">
    </div>
    <div *ngIf="!showLogin && !showChangePassword" class="container-form signup">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                <input type="button" value="Iniciar Sesión" id="log-in" (click)="showLoginForm()">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una cuenta</h2>
                <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" formControlName="name" placeholder="Nombre Completo">
                    </label>
                    <label>
                        <i class='bx bx-envelope' ></i>
                        <input type="email" formControlName="email" placeholder="Correo Electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password" formControlName="password" placeholder="Contraseña">
                    </label>
                    <input type="submit" [disabled]="!signupForm.valid" value="Registrarse">
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="showLogin" class="container-form login">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Si aún no tiene una cuenta por favor registrese aqui</p>
                <input type="button" value="Registrarse" id="sign-up" (click)="showRegisterForm()">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar Sesión</h2>
                <form class="form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                    <label>
                        <i class='bx bx-envelope' ></i>
                        <input type="email" formControlName="email" placeholder="Correo Electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password" formControlName="password" placeholder="Contraseña">
                    </label>
                    <input type="submit" [disabled]="!loginForm.valid" value="Iniciar Sesión">
                </form>
                <input type="button" value="Olvidé mi Contraseña" (click)="showChangePasswordForm()">
            </div>
        </div>
    </div>
    <div *ngIf="showChangePassword" class="container-form change-password">
        <div class="information">
            <div class="info-childs">
                <h2>Restablecer Contraseña</h2>
                <p>Ingrese su correo electrónico para restablecer la contraseña</p>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" formControlName="email" placeholder="Correo Electronico">
                    </label>
                    <input type="submit" [disabled]="!changePasswordForm.valid" value="Enviar">
                </form>
                <input type="button" value="Volver" (click)="showLoginForm()">
            </div>
        </div>
    </div>
</div>

