<div class="event-add">
    <h2>Agregar Nuevo Evento</h2>
    <form (ngSubmit)="addEvent()">
      <label for="title">Título</label>
      <input id="title" [(ngModel)]="newEvent.title" name="title" required>
  
      <label for="description">Descripción</label>
      <textarea id="description" [(ngModel)]="newEvent.description" name="description" required></textarea>
  
      <label for="date">Fecha</label>
      <input id="date" type="date" [(ngModel)]="newEvent.dateTime" name="date" required>
      
      <label for="price">Precio</label>
      <input id="price" type="number" [(ngModel)]="newEvent.price" name="price" required>

      <label for="instructor">Instructor</label>
      <select id="instructor" [(ngModel)]="newEvent.instructor_id" name="instructor" required>
        <option *ngFor="let instructor of instructors" [value]="instructor.id">
          {{ instructor.first_name+" "+instructor.last_name+" "+instructor.email+" DNI"+instructor.dni }}
        </option>
      </select>

      <label for="imageUrl">Imagen</label>
      <input id="imageUrl" type="file" (change)="onFileChange($event)" name="imageUrl" required>

      <button type="submit">Agregar</button>
    </form>
  </div>
  