body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 2rem;
  }
  
  .titleSattva{
    margin: 0;
    margin-left: 4rem;
}

.titleSattva h1, .titleSattva h2, .titleSattva p{
    font-family: 'Dancing Script', cursive;
    width: 20rem;
    position: absolute;
    text-align: center;
}

.titleSattva h1{
    font-size: 5rem;
}

.titleSattva h2{
    font-size: 3rem;
    padding-top: 7.5rem;
}

.imgTitle{
    display: flex;
    justify-content: flex-end;
    width: 98vw;
    margin: 0;
    float: right;
}

.imgTitle img{
    width: 80vw;
}

#inicio p{
    padding-top: 18rem;
    font-size: 1.3rem;
}

section h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

#eventos, #clases {
    text-align: center;
}
  .classEvents {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .containerClassEvent {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .containerClassEvent:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .containerClassEvent h3 {
    background: #f8f9fa;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .containerClassEvent p {
    padding: 1rem;
    font-size: 1rem;
    color: #666;
  }
  
  .containerClassEvent img {
    width: 100%;
    height: auto;
  }
  
  .containerClassEvent button, section button {
    background: #3aa9c0;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .containerClassEvent button:hover {
    background: #006478;
  }
  