<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>    
    <section id="inicio">
        <div class="titleSattva">
            <h1>Sattva</h1>
            <h2>Espacio de Salud y Bienestar</h2>
            <p>"La verdadera disciplina no se impone. <br> Solo puede venir de nuestro interior".<br>Dalia Lama</p>
            <div class="imgTitle">
                <img src="../../../assets/home-backgroud.png" alt="Mujer practicando yoga">
            </div>
        </div>        
    </section>
    <section id="instructors">
        <button class="instructor-btn" (click)="navigateToAddInstructor()" *ngIf="isAdmin">Agregar o Eliminar Instructor</button>
    </section>
    <section id="clases">
        <h2>Clases</h2>
        <button *ngIf="isAdmin" routerLink="/addClass">Agregar clase</button>
        <div class="classEvents">
            <div class="containerClassEvent" (click)="openEventDetails(class)" *ngFor="let class of classes">
                <h3>{{ class.title }}</h3>
                <!-- <p>{{ class.description }}</p> -->
                <p>Cuota: ${{ class.monthly_fee }}</p>
                <img *ngIf="class.imageUrl" [src]="class.imageUrl" width="400" />
                <strong *ngIf="!class.instructor_id && isAdmin">CLASE SIN INSTRUCTOR</strong>
                <button *ngIf="isAdmin" (click)="updateClass(class)">Modificar</button><br>
                <button *ngIf="isAdmin" (click)="deleteClass(class)">Eliminar clase</button>
            </div>
        </div>
    </section>
    <section id="eventos">
        <h2>Eventos</h2>
        <button *ngIf="isAdmin" routerLink="/addEvent">Agregar evento</button>
        <p>Eventos que se realizan un día y horario específico</p>
        <div class="classEvents" id="events">
            <div class="classEvents" id="events">
                <div class="containerClassEvent" (click)="openEventDetails(event)" *ngFor="let event of events">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <!-- <p>{{ event.description }}</p> -->
                    <p>${{ event.price }}</p>
                    <img *ngIf="event.imageUrl" [src]="event.imageUrl" width="400" />
                    <strong *ngIf="!event.instructor_id && isAdmin">EVENTO SIN INSTRUCTOR</strong>
                    <button *ngIf="isAdmin" (click)="updateEvent(event)">Modificar</button><br>
                    <button *ngIf="isAdmin" (click)="deleteEvent(event)">Eliminar evento</button>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto">
        <h2>Contacto</h2>
        <div class="contact-info">
            <p><strong>Email:</strong> {{mail}} </p>
            <p><strong>Teléfono:</strong> {{phone}} </p>
        </div>
    </section>
</body>