/* shopping-cart.component.css */
.shopping-cart {
    padding-top: 3rem;
    max-width: 600px;
    margin: 0 auto;
   }
   
   table {
    width: 100%;
    border-collapse: collapse;
   }
   
   img{
    max-width: 3rem;
    display: flex;
   }

   th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   }
   
   th {
    background-color: #f2f2f2;
   }
   
   button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   
   button:hover {
    background-color: #45a049;
   }
   
   .total {
    margin-bottom: 20px;
   }