<header id="top-bar">
    <nav>
        <ul id="linksHeader">
            <!-- <button type="button" id="filter-button" (click)="EventFilterButton()">Filtrar</button> -->
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/products">Lista de productos</a></li>
            <li><a routerLink="/cart"  class="button fancy-button">Carrito</a></li>
            <li><a *ngIf="!isAuthenticated()" routerLink="/login">Iniciar Sesión</a></li>
            <li><a *ngIf="isAuthenticated()" (click)="logout()" routerLink="/login">Cerrar sesión</a></li>
        </ul>
        <div>
            <ul id="filters" hidden>
                <li>
                    <button id="btn-categorias" (click)="EventCategoriesBtn()">Categorias</button>
                    <ul id="categorias-menu" hidden>
                        <li><button class="btn-categoria" data-categoria="electronics">Electronicos</button></li>
                        <li><button class="btn-categoria" data-categoria="men's clothing">Ropa de Hombre</button></li>                            
                        <li><button class="btn-categoria" data-categoria="women's clothing">Ropa de Mujer</button></li>
                        <li><button class="btn-categoria" data-categoria="jewelery">Joyeria</button></li>
                    </ul>
                </li>
                <li>
                    <button id="btn-precios" (click)="EventPrieceBtn()">Ordenar por Precio</button>
                    <ul id="precios-menu" hidden>
                        <li><button id="btn-precio-mayor">Precio Ascendente</button></li> 
                        <li><button id="btn-precio-menor">Precio Descendente</button></li>                        
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <img src="../../../assets/logo-sattva.png"   alt="Logo Sattva">
</header>