<div class="event-details-container">
    <mat-card class="event-card">
      <img mat-card-image *ngIf="data.imageUrl" [src]="apiUrl + data.imageUrl" alt="Event Image">
      <mat-card-content>
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <p class="price">${{data.price}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" id="checkout-btn" (click)="createPreference()">Inscribirse y Pagar</button>
      </mat-card-actions>
      <div id="wallet_container"></div>
    </mat-card>
  </div>
  