form {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5495b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #006278;
  }
  
  small {
    color: #d9534f;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  div:last-child {
    margin-bottom: 0;
  }
  