<div id="changePasswordForm">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="newPassword">Nueva Contraseña:</label>
      <input id="newPassword" formControlName="newPassword" type="password">
      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
        <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">La contraseña es obligatoria</small>
        <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">La contraseña debe tener al menos 5 caracteres</small>
      </div>
    </div>
    <div>
      <label for="confirmPassword">Repetir Nueva Contraseña:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password">
      <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched">
        <small>Las contraseñas no coinciden</small>
      </div>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">Restablecer Contraseña</button>
  </form>
</div>