<div class="registrations-container">
    <h2>Mis Eventos</h2>
    <div *ngFor="let event of events" class="registration-card">
      <img *ngIf="event.imageUrl" [src]="apiUrl+'/'+event.imageUrl" alt="Event Image">
      <h3>{{ event.title }}</h3>
      <p>{{ event.description }}</p>
      <p class="datetime">Fecha: {{ event.event_datetime | date:'short' }}</p>
      <p>Precio: ${{ event.price }}</p>
    </div>
  
    <h2>Mis Clases</h2>
    <div *ngFor="let class of classes" class="registration-card">
      <img *ngIf="class.imageUrl" [src]="apiUrl+'/'+class.imageUrl" alt="Class Image">
      <h3>{{ class.title }}</h3>
      <p>{{ class.description }}</p>
      <p>Cuota Mensual: ${{ class.monthly_fee }}</p>
      <p class="payment-status-true" *ngIf="class.payment_status">CUOTA AL DÍA</p>
      <div *ngIf="!class.payment_status">
        <p class="payment-status-false">ADEUDA CUOTA</p>
        <button (click)="openEventDetails(class)">Pagar cuota</button>
      </div>
    </div>
  </div>
  