<head>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>
<div>
  <div class="container-add-product-btn">
    <button *ngIf="getAuthService().isAdmin()" class="add-product-btn" routerLink="/addProduct">Agregar producto nuevo</button>
  </div>
  <div *ngFor="let product of filteredProducts$ | async" class="product-card">
    <div class="product-img" [routerLink]="['/product/', product.id]">
      <img [src]="apiUrl + product.image_url" alt="{{ product.title }}" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-title">
        <button *ngIf="getAuthService().isAdmin()" class="delete-product-btn" routerLink="/products" (click)="delete(product)">Borrar producto</button>
        <h1>{{ product.title }}</h1>
      </div>
      <div class="product-price-btn">
        <p><span>{{ product.sale_price }}</span>$</p>
        <button type="button" (click)="share(product)">Agregar a carrito</button>
      </div>
    </div>
  </div>
</div>
