<div class="form-information">
    <form class="form" [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h3>Agrega un producto</h3>
        <label>
            <input id="title" type="text" placeholder="Titulo" formControlName="title">
        </label>
        <label>
            <input id="description" type="text" placeholder="descripción" formControlName="description">
        </label>
        <label>
            <input id="price" type="number" placeholder="Precio" formControlName="price">
        </label>
        <label>
            <input id="category" type="text" placeholder="Categoria" formControlName="category">
        </label>
        <label>
            <input id="stock" type="number" placeholder="Stock" formControlName="stock">
        </label>
        <label>
            <input id="image" type="file" (change)="onFileChange($event)" type="file" formControlName="imageUrl">
        </label>
        <input type="submit" value="Agregar producto" [disabled]="!productForm.valid">
    </form>
</div>